@import '../../variables.sass'

.DangerInput
  cursor: text
  padding: 0 16px
  min-height: 42px
  min-width: 260px
  transition: 0.2s all ease-in-out
  width: max-content
  box-sizing: border-box
  position: relative
  font-weight: bold
  display: flex
  align-items: center
  &:hover:not([disabled])
    .DangerPlaceholder
      transform: translate3d(0px, 0, 0)
  &:focus-within:not([disabled])
    .DangerPlaceholder
      transform: translate3d(0px, 0, 0)
  input
    color: rgba($text, 0.8)
    font-size: $input-font-size
    background: transparent
    border: 0
    outline: 0
    width: 100%
    &::selection
      background: $primary
      color: $white
    &::placeholder
      color: $input-placeholder
      user-select: none

.DangerInputBorder
  border: 1px solid $input-border
  &:focus-within:not([disabled])
    border: 1px solid $primary
    -webkit-box-shadow: 0px 0px 0px 4px rgba($primary,0.25)
    -moz-box-shadow: 0px 0px 0px 4px rgba($primary,0.25)
    box-shadow: 0px 0px 0px 4px rgba($primary,0.25)

.DangerInputLine
  border-bottom: 1px solid $input-border
  &:focus-within:not([disabled])
    border-bottom: 1px solid $primary

.DangerInputSolid
  background: rgba($input-solid, 0.6)
  border: 1.1px solid $input-border
  &:focus-within:not([disabled])
    background: rgba($input-solid, 1)
    border: 1.1px solid $primary

.DangerInputDisabled
  background: $disabled
  color: $disabled-text
  cursor: default

.DangerInputText
  transition: 0.2s all ease-in-out

.DangerPlaceholder
  color: $input-placeholder
  user-select: none
  position: absolute
  font-size: $input-font-size
  transform: translate3d(-3px, 0, 0)

.DangerPlaceholderDanger
  color: rgba($danger, 0.6)

.DangerInputDanger
  color: $danger
  background: rgba($danger, 0.1)
  border-color: rgba($danger, 1)

.DangerLabel
  color: $text
  user-select: none
  position: absolute
  transform: translate3d(-18px, -32px, 0)
  font-size: 14px

.DangerLabelDanger
  color: $danger
  user-select: none
  position: absolute
  transform: translate3d(-18px, -32px, 0)
  font-size: 14px

.DangerDangerText
  color: $danger

.DangerInputEventText
  font-size: 14px

.DangerHide
  display: none

.DangerInputBlock
  width: 100%
