@import '../../variables'

.dg-input
  cursor: text
  padding: 0 16px
  min-height: 42px
  min-width: 260px
  transition: 0.2s all ease-in-out
  width: max-content
  box-sizing: border-box
  position: relative
  display: flex
  align-items: center
  &:hover:not([disabled])
    .dg-placeholder
      transform: translate3d(0px, 0, 0)
  &:focus-within:not([disabled])
    .dg-placeholder
      transform: translate3d(0px, 0, 0)
    .dg-label
      color: $primary
  input
    color: rgba($text, 0.8)
    font-size: $input-font-size
    background: transparent
    border: 0
    outline: 0
    z-index: 1
    width: 100%
    &::selection
      background: $primary
      color: $white
    &::placeholder
      color: $input-placeholder
      user-select: none

.dg-input-border
  border: 1px solid $input-border
  &:focus-within:not([disabled])
    border: 1px solid $primary
    -webkit-box-shadow: $primary-shadow
    -moz-box-shadow: $primary-shadow
    box-shadow: $primary-shadow

.dg-input-line
  border-bottom: 1px solid $input-border
  &:focus-within:not([disabled])
    border-bottom: 1px solid $primary

.dg-input-solid
  background: rgba($input-solid, 0.6)
  border: 1.1px solid $input-border
  &:focus-within:not([disabled])
    background: rgba($input-solid, 1)
    border: 1.1px solid $primary

.dg-input-disabled
  background: $disabled
  color: $disabled-text
  cursor: default

.dg-input-text
  transition: 0.2s all ease-in-out
  position: absolute
  color: $input-placeholder

.dg-placeholder
  user-select: none
  position: absolute
  z-index: 0
  font-size: $input-font-size
  transform: translate3d(-3px, 0, 0)

.dg-placeholder-danger
  color: rgba($danger, 0.6)

.dg-input-danger
  color: $danger
  background: rgba($danger, 0.1)
  border-color: rgba($danger, 1)

.dg-label
  color: rgba($text, 0.8)
  user-select: none
  transform: translate3d(-10px, -32px, 0)
  font-size: 14px

.dg-danger-text
  color: $danger

.dg-input-event-text
  font-size: 14px

.dg-input-block
  width: 100%
