#main-container {
  background: rgb(247, 247, 247);
  padding: 0 0 70px 0;
}

#sections {
  max-width: 800px;
  min-height: 50px;
  box-sizing: border-box;
  padding: 20px 40px 40px 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  margin: 70px auto 0 auto;
}
