@import '../../variables'

.dg-table
  width: 100%
  border-collapse: collapse
  overflow-x: auto
  thead
    tr
      .dg-table-head
        padding: 15px
        color: rgba($text, 0.8)
        font-weight: normal
        font-size: 14px
        text-align: left
        &:first-child
          padding-left: 30px
        &:last-child
          padding-right: 30px
  tbody
    tr
      td
        padding: 15px
        border-bottom: 1px solid $input-border
        border-top: 1px solid $input-border
        &:first-child
          padding-left: 30px
        &:last-child
          padding-right: 30px
