.DangerTable
  display: table
  width: 100%
  border-collapse: collapse

.DangerTableRow
  display: table-row

.DangerTableHeading
  display: table-header-group
  font-weight: bold

.DangerTableCell, .DangerTableHead
  display: table-cell
  padding: 8px 16px

.DangerTableHead
  text-transform: capitalize

.DangerTableFoot
  background-color: #EEE
  display: table-footer-group
  font-weight: bold

.DangerTableBody
  display: table-row-group
