@import '../../variables.sass'

.DangerAvatar
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  img.DangerImage
    object-fit: cover
    background-size: cover
    width: 100%
    height: 100%
    box-sizing: border-box
  .DangerDefaultAvatar
    padding: 6px
  .DangerPrimaryBackground
    background: rgba($primary, 1)
  .DangerLightPrimaryBackground
    background: rgba($primary, 0.2)
  .DangerAvatarText
    width: 100%
    height: 100%
    color: rgba($primary, 1)
    font-weight: bold
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase

.DangerHidden
  display: none !important