// Colors
$primary: #2D8EFF
$primary-light: rgba($primary, 0.4)
$disabled: #ececec
$disabled-text: #9c9c9c
$text: #333333
$input-placeholder: #c2c2c2
$input-border: #dfdfdf
$input-solid: #fafafa
$white: #ffffff

// States
$danger: #eb3b5a
$warning: #fa8231
$success: #20bf6b

// Font sizes
$button-font-size: 16px
$input-font-size: 16px

// Radius
$radius: 4px

// Shadows
$primary-focus-shadow: 0px 0px 0px 4px rgba($primary,0.25)
$primary-shadow: 0px 8px 8px rgba($primary, 0.40)
$calendar-shadow: 0px 8px 8px rgba(0,0,0, 0.02)
