// Colors
$primary: #3c40c6
$disabled: #ececec
$disabled-text: #9c9c9c
$text: #333333
$input-placeholder: #c2c2c2
$input-border: #dfdfdf
$input-solid: #fafafa
$white: #ffffff

// States
$danger: #eb3b5a
$warning: #fa8231
$success: #20bf6b

// Font sizes
$button-font-size: 16px
$input-font-size: 16px
